/* navbar */
.pee {
  padding-right: 120px;
  padding-left: 120px;
}
#navbar {
  transition: all 0.1s;
}
/* custom hover for navbar */
.cus-hov:hover {
  border-top: white 2px solid;
  border-radius: 1;
  transition: all 0.7s;
  padding-top: 200px;
}
.cus-hov {
  border-top: transparent 2px solid;
}
.cus-hov > a:hover {
  color: white !important;
}
/* negative margin */
.-mt-5 {
  margin-top: -7px !important;
}
.-mt-p {
  margin-top: -107px !important;
}
h2 h1 .h1 .head {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
}
/* carosel */
.carousel-inner {
  height: 600px;
  overflow: none !important;
  position: relative;
}
/* end  */
.special-hr {
  height: 10px !important;
  border-radius: 10px;
  background-color: rgb(0, 76, 255);
  color: rgb(0, 76, 255);
}
.main-site-btn {
  background-color: rgb(0, 162, 255);
}
.main-site-btn:hover {
  background-color: rgb(241, 248, 251);
}
.main-site-btn-text {
  color: rgb(213, 235, 238) !important;
}
.main-site-btn-text:hover {
  color: rgb(1, 251, 251) !important;
}

.footer-text {
  color: rgb(0, 162, 255) !important;
}
.bg-footer {
  background-color: rgb(187, 225, 230);
  color: rgb(0, 162, 255);
}
/* custom side margin */

@media (max-width: 768px) {
  .pee {
    padding-right: 20px;
    padding-left: 20px;
  }
  .cus-hov:hover {
    padding-top: 3px;
  }
  .-mt-5 {
    margin-top: 0px;
  }
  .-mt-p {
    margin-top: 200px;
  }
  .carousel-inner {
    height: 300px;
  }
  .navbar-brand {
    width: 50% !important;
  }
  .cus-flex-col {
    display: flex !important;
    flex-direction: column !important;
  }
}
@media (min-width: 768px) {
  .w-lg-30 {
    width: 30%;
  }
}
